<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Refs-->
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Landing Page</title>
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand bg-secondary text-light rounded px-4" href="index.html">Justin Taylor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Koolachoo">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="resume.html">Resume</a>
          </li>
      </ul>
    </div>
  </nav>

  <!--Content-->
  <div class="container">

    <div class="row">

      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <div class="card mt-3">
          <span class="border-bottom">
            <h2 style=text-align:center>About Me</h2>
          </span>
          <div class="card-body">
            <div class="row">
              <div class="w-25 h-25 px-4">
            <img class="img-fluid"
              src="./assets/Images/profile.jpg" alt="Justin Profile" >
            </div>
            <div class="col">
            <p>
              My name is Justin Taylor. I am an up and coming web designer, and have a background in digital art and graphic design. 
            </p>
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <!--Footer-->
  <div class="footer">
    <p>&copy; Copyright</p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="assets/script.js"></script>
</body>

</html>